<h1>FrexTimeCheck</h1>
<%= form_for @user , :url => {:action => 'check'} do |f| %>
  <%= render 'shared/error_messages', object: @user %>
  <p>勤之助のログインIDとパスワードを入力してください。</p>
  <div class="field">
    <%= f.label :id, "ログインID" %>
    <%= f.text_field :id %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード" %>
    <%= f.text_field :password %>
  </div>

  <div class="actions">
    <%= f.submit "勤怠時間を確認する。" %>
  </div>
<% end %>

<p><%= @error_msg %></p>
<p><%= @msg %></p>
